* {
  margin: 0;
  padding: 0;

  font-family: "Changa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/BuckCo_web-20-800x534.jpg);
}
.logos {
  width: 70px;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
}
nav img {
  width: 150px;
}
.navi-links {
  flex: 1;
  text-align: right;
}
.navi-links ul li {
  list-style: none;
  display: inline-block;
  padding: 6px 9px;
  position: relative;
}
.navi-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navi-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #d39728;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navi-links ul li:hover::after {
  width: 100%;
}
.text {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text h1 {
  font-size: 60px;
}
.text h2 {
  font-size: 30px;
}
.text p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: white;
}
.text-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.text-link:hover {
  border: 1px solid goldenrod;
  background: #d39728;
  transition: 1s;
}

nav .fa {
  display: none;
}
@media (max-width: 680px) {
  .text h1 {
    font-size: 20px;
  }
  .navi-links ul li {
    display: block;
  }
  .navi-links {
    position: absolute;
    background: #d39728;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .navi-links ul {
    padding: 20px;
  }
}

/*------Services styling------*/
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
.services-col {
  flex-basis: 28%;
  background: rgb(252, 236, 212);
  border-radius: 10px;
  padding: 20px 10px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.services-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 2);
}

@media (max-width: 680px) {
  .row {
    flex-direction: column;
  }

  /*------Activities------*/
}
span {
  color: #d39728;
}
.activities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.activities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.activities-col img {
  width: 100%;
  border-radius: 10px;
}
.activities-col p {
  padding: 0;
}
.activities-col h3 {
  margin-top: 16px;
  margin-bottom: 14px;
  text-align: left;
}

/*------Testimonials------*/

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonials-col {
  flex-basis: 25%;
  border-radius: 10px;
  margin-bottom: 6%;
  text-align: left;
  background: #f3daac;
  padding: 28px;
  cursor: pointer;
  display: flex;
}

.testimonials-col img {
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
  margin-right: 3px;
  border-radius: 50%;
}
.testimonial-col p {
  padding: 0;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}

@media (max-width: 700px) {
  .testimonials-col img {
    margin-left: 5px;
    margin-right: 30px;
  }
}
.work {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/work.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.work h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}
@media (max-width: 680px) {
  .work h1 {
    font-size: 20px;
  }
}

/*---------About page--------*/

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/aboutbga.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: azure;
}

.abouts {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.abouts-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.abouts-col img {
  flex-basis: 45%;
  width: 90%;
  border-radius: 50%;
  margin-left: 100px;
}
.abouts-col h1 {
  padding-top: 0;
}
.abouts-col p {
  padding: 15px 0 25px;
}
.text-linkagain {
  border: 1px solid goldenrod;
  color: goldenrod;
}
.text-linkagain:hover {
  color: white;
}
@media (max-width: 700px) {
  .abouts-col img {
    margin-left: 0;
  }
}

/*-------login-------*/

.container {
  background-color: transparent;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 50vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  background-color: #faae3d;
  display: inlIne-block;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;

}
.buttonend{
  border: 1px solid;
  padding: 10px;
}

button:hover {
  background-color: #0069d9;
}
.h3end{
  color: goldenrod;
}

.two{
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/BuckCo_web-20-800x534.jpg)
    
}
